*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
} 
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 100px auto;
}
/****************** toolbar *****************/
.toolbar{
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 25px 180px;
    align-items: center;
}
.toolbar .toolbar-left{
    display: flex;
    gap: 40px;
}
.toolbar .toolbar-left div{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1px;
}
.toolbar .toolbar-left div:hover{
    color: #d71482;
}
.toolbar .toolbar-right ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.toolbar .toolbar-right ul li a{
    background-color: #ccc;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}
.toolbar .toolbar-right ul li a:hover{
    background-color: #d71482;
}
/***************** nav ***********************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color:#eeeeee;
    position: sticky;
    top: 0;
}
nav .nav-middle ul{
    display: flex;
    list-style: none;
    gap: 70px;
}
nav .nav-middle ul li a{
    color:black;
    font-size: 18px;
    transition: 0.5s;
    font-weight: bold;
}
nav .nav-middle ul li a:hover{
    color: #d71482;
}
nav .nav-right  button{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border: 1px solid #d71482;
    border-radius: 50px;
    color: #d71482;
    cursor: pointer;
    transition: 0.5s;
}
nav .nav-right  button:hover{
    background-color: #d71482;
    color: white;
}
nav .menu{
    font-size: 25px;
    cursor: pointer;
    display: none;
}
/************************ home **********************/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.home .home-left > *{
    margin-bottom: 20px;
}
.home .home-left h3{
    color: #d71482;
}
.home .home-left button{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border: 1px solid #d71482;
    border-radius: 50px;
    color: #d71482;
    cursor: pointer;
    transition: 0.5s;
}
.home .home-left button:hover{
    background-color: #d71482;
    color: white;
}
.home .home-left h2{
    font-size: 50px;
}
.home .home-left p{
    color: #808080;
    font-size: 18px;
    line-height: 30px;
}
/******************** about **************/
.about{
    display: flex;
    align-items: center;
}
.about .about-right > *{
    margin: 40px 30px 50px 30px;
}
.about .about-right h3{
    color: #d71482;
}
.about .about-right h2{
    font-size: 30px;
}
.about .about-right h2 span{
    color:#d71482 ;
}
.about .about-right p{
    color: #808080;
    font-size: 18px;
    line-height: 30px;
}
.about .about-right .pre{
    display: flex;
    gap: 100px;  
}
.about .about-right .pre div{
    text-align: center;
    padding: 30px;
    border-radius: 50%;
}
.about .about-right .pre .red{
    border: 15px solid #d71482 ;
}
.about .about-right .pre .green{
    border: 15px solid green ;
}
.about .about-right .pre .blue{
    border: 15px solid blue ;
}
/********************** OUR SERVICES ***********************/
.services {
 text-align: center;
}
.services > *{
    margin-bottom: 20px;
}
.services h3{
    color:#d71482 ;
}
.services h2 span{
    color:#d71482 ;
}
.services h2{
    font-size: 30px;
}
.services .differ{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.services .differ div{
    padding: 20px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #808080;
    font-size: 18px;
    line-height: 30px;
}
/********************** card ***********************/
.card .inner{
    display: flex;
    gap: 100px;
    margin: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 50px;
}
.card .inner .card-left> *{
    margin-bottom: 20px;
}
.card .inner .card-left h3{
    color:#d71482 ;
}
.card .inner .card-left p{
    color:#808080 ;
    font-size: 20px;
    line-height: 28px;
}
/********************* banner ***********************/
.banner{
    margin-top: 100px;
    background-image: url(IMG/quote-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    text-align: center;
    color: #fff;
}
.banner-text h4{
    font-size: 18px;
}
.banner-text h2{
    margin: 20px 0px;
    font-size: 40px;
}
.banner-search{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.banner-search input{
    padding: 20px;
    outline: none;
    border: none;
    width: 400px;
    border-radius: 50px 0px 0px 50px;
}
.banner-search button{
    padding: 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    background-color: #d71482; 
    color: #fff;
    font-size: 18px;
    border-radius: 0px 50px 50px 0px;
}
/********************* Projects ***********************/
.projects{
    width: 95%;
    margin: 100px auto;
}
.projects .title-1{
    margin-bottom: 10px;
    color: #d71482;
}
.projects .title-2{
    margin-bottom: 40px;
}
.projects .title-2 span{
    color: #d71482;
}

.projects .proto{

    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap:10px ;
}
.projects .proto div{
    width: 19%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    text-align: center;
}
.projects .proto div > *{
    margin-bottom: 20px;
}
.projects .proto div img{
    width: 100%;
}
.projects .proto div h3{
    color: #d71482;
}
.projects .proto div p{
    color: #808080;
}
/********************* blog ***********************/
.blog{
    width: 80%;
    margin: 100px auto;
}
.blog-up{
    text-align: center;
}
.blog-up h3{
    font-size: 25px;
    color:#d71482;
}
.blog-up h2{
    margin: 10px 0px;
    font-size: 40px;
}
.blog-up h2 span{
    color: rgb(41, 41, 196);
}
.blog-down{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}
.blog-down-left{
    border-radius: 20px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.blog-down-left > * {
    margin-bottom: 20px;
}
.blog-down-left .blog-img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.blog-date{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blog-date button{
    background-color: #d71482;
    padding: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}
.blog-date h3{
    font-size: 18px;
    color: gray;
}
.blog-down-left h4{
    font-size: 22px;
    width: 90%;
    margin: 20px auto;
    line-height: 1.5;
    color: gray;
}
.author-blog{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.author-blog div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.author-blog div img{
    width:  60px;
    height: 60px;
    border-radius: 50%;
}
.author-blog button{
    background-color: #d71482;
    padding: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}
.blog-down-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog-down-post{
    display: flex;
    gap: 30px;
}
.blog-down-post div > * {
    margin-bottom: 20px;
}
.blog-down-post div button{
    background-color:#d71482;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}
.blog-down-post div h3{
    color: gray;
    line-height: 1.5;
}
.blog-down-post div h4{
    line-height: 1.5;
}
.blog-down-post img{
    border-radius: 20px;
}
/*************************** contact **************************/

.contact{
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact-left{
    width: 50%;
    height: 500px;
}
.contact-left iframe{
    width: 100%;
    height: 100%;
}
.contact-right{
    width: 50%;
}
.contact-up {
    display: flex;
    justify-content: space-around;
}
.contact-up div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}
.contact-up div h3{
    color: gray;
    margin-top: 10px;
    font-size: 16px;
}
.contact-right{
    margin-top: 30px;
}
.contact-right form{
    margin-top: 30px;
}
.contact-right form input{
    width: 95%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid rgb(202, 201, 201);
    outline: none;
    border-radius: 5px;
}
.contact-right form textarea{
    width: 95%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid  rgb(202, 201, 201);
    outline: none;
    height: 100px;
    border-radius: 5px;
}

.contact-right form button{
    padding: 15px;
    background-color: transparent;
    border: none;
    border: 2px solid #d71482;
    cursor: pointer;
    width: 98%;
    font-size: 18px;
    margin-bottom: 10px;
    color: #d71482;
    transition: 0.5s;
    border-radius: 50px;
}
.contact-right form button:hover{
    background-color: #d71482;
    color: #fff;
}

/********************** media *********************/


@media screen and (max-width : 480px){

    .toolbar{
        flex-direction: column;
        gap: 20px;
    }  
    .toolbar .toolbar-left {
        flex-direction: column;
        gap: 20px;
    }




    nav .nav-middle ul {
        display: none;
    }
    nav .nav-right button{
        display: none;
    }
    nav .menu{
        display: block;
    }




    .home{
        flex-direction: column;
    }
    .home .home-left{
        text-align: center;
    }
    .home .home-right img{
        max-width: 100%;
    }




    .about{
        flex-direction: column;
    }
    .about img{
        max-width: 100%;
    }
    .about .about-right {
        margin-top: 50px;
        text-align: center;
    }
    .about .about-right p{
        width: 80%;
        margin: 20px auto;
    }
    .about .about-right h2{
        font-size: 25px;
    }
    .about .about-right .pre{
        flex-direction: column;
        gap: 20px; 
    }
    .about .about-right .pre{
        width: max-content;
        margin: auto;
    }
    .about .about-right .pre div{
        padding: 50px;
    }
    .about .about-right .pre div h2{
        font-size: 60px;
    }
    .about .about-right .pre div p{
        font-size: 30px;
    }
    




    .services .differ{
        flex-direction: column;
    }
    .services{
        width: 90%;
        margin-left: 20px;
    }





    .card .inner{
        flex-direction: column;
        width: 75%;
        margin: 0px;
    }
    .reports-check{
        flex-direction: column;
        gap: 10px;
    }
    .card .inner img{
        max-width: 100%;
    }




    .banner .banner-search input{
        width: 150px;
    }
    .banner .banner-search button {
        width: max-content;
    }




    .projects {
        text-align: center;
    }
    .projects .proto{
        flex-direction: column;
    }
    .projects .proto div{
        width: 90%;
    }




    .blog .blog-down{
        flex-direction: column;
    }
    .blog .blog-down-left{
        width: 100%;
    }
    .blog .blog-down-post{
        flex-direction: column;
    }




    .contact{
        flex-direction: column;
    }
    .contact .contact-left{
        width: 100%;
        height: 300px;
    }
    .contact .contact-left iframe{
        width: 100%;
        height: 100%;
    }
    .contact .contact-right{
        width: 100%;
    }
    .contact-right .contact-up {
        flex-direction: column;
        gap: 20px;
    }




}